.example-card {
    max-width: 400px;
  }


  h3 {
    color: #b7b047;
    font-size: 7rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
  }


  h6 {
    color: #ffffff;
    margin-bottom: 2rem;
  }

  p {
    padding: 0.5rem;
  }