<footer >
    <ul class="social_icon">
        <li> <a href="#"><i class="fab fa-facebook"></i></a></li>
        <li> <a href="#"><i class="fab fa-twitter" ></i></a></li>
        <li> <a href="#"><i class="fab fa-instagram" ></i></a></li>
        <li> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        <li> <a href="#"></a></li>
    </ul>  
    <ul class="menu">
        <li> <a href="#">Home</a></li>
        <li> <a href="#">(+56) 2 2999 3862</a></li>
        <li> <a href="#">smartrestaurant@gmail.com</a></li>
        <li> <a href="#">Sobre nosotros</a></li>
    </ul>
    <p>2022 Online Tutorials | All rights Reserved</p>
</footer>
