<section class="dishes" id="dishes">
    <h1 class="title"> Menu de platos </h1>
<div class="container">
<div class="box-container">

    <div class="box" *ngFor='let menuA of readprodA'>
        <h3>Bebidas Alcoholicas</h3>
        <h5>{{menuA.nombre}}</h5>
        <h5>{{menuA.valor}}</h5>
        <h5>{{menuA.descripcion}}</h5>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
    </div>

    

</div>