

#hp  {
  float: left;    
   margin: 0 15px 0 0;
  }

 h1 {
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
    font-optical-sizing:inherit;
    color:beige;
    margin-bottom: 2rem;
  }

  h3{
    color:bisque;
    font-size: 2rem;
    padding: 1rem;

  }

tr:nth-child(even) {
    background-color: Gainsboro;
  }

  tr:nth-child(odd) {
    background-color: whitesmoke;
  }

  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
  
 