<section class="dishes" id="dishes">
    <h1 class="title"> Menu de platos </h1>
<div class="container">
<div class="box-container">

    <div class="box">
        <img src="../../assets/img/arrollado-primavera.jpg" alt="">
        <h3>Arrollado Primavera</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <span>$2500</span>
    </div>

    <div class="box">
        <img src="assets/store2.png" alt="">
        <h3>Pastel Cumpleaños</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <span>$25.990</span>
    </div>

    <div class="box">
        <img src="assets/store3.png" alt="">
        <h3>Pastel de Mazapan</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <span>$25.990</span>
    </div>

    <div class="box">
        <img src="assets/store4.png" alt="">
        <h3>Pastel de chocolate</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <span>$25.990</span>
    </div>

    <div class="box">
        <img src="assets/store5.png" alt="">
        <h3>Pastel Esp. Navidad </h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <span>$25.990</span>
    </div>

    <div class="box">
        <img src="assets/store6.png" alt="">
        <h3>Pastel de Selva Negra</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <span>$25.990</span>
    </div>

</div>