<div class="container mt-5">
    <br/><br/>
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link active" href="/comanda">Editar pedido</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Cancelar pedido</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Inicio del Pago</h5>
          <p class="card-text">El cliente pagará con:</p>
          <li> Efectivo </li>
          <li> Debito </li>
          <li> Credito </li>
          <br/>
          <a href="/mesas" class="btn btn-primary">Volver a la mesa</a>
        </div>
      </div>
</div>