<nav class="navbar-one flex">
    <div class="left flex">
        <div class="email">
            <i class="fa fa-envelope"></i>
            <span>oiishi@restaurant.com</span>
        </div>
        <div class="call">
            <i class="fa fa-phone-alt"></i>
            <span>(+569)12345678</span>
        </div>
    </div>
    <div class="right flex">
        <div class="twitter">
            <i class="fab fa-twitter" ></i>
            <span>Twitter</span>
        </div>
        <div class="faceboook">
            <i class="fab fa-facebook"></i>
            <span>Facebook</span>
        </div>

        </div>
    </nav>
    <nav class="navbar-second flex">
        <div class="logo">
            <h1>Oiishi</h1>
        </div>
        <ul class="flex">
            <li><a href="">home</a></li>
            <li><a href="">menu</a></li>
            <li><a href="">testimonios</a></li>
            <li><a href="">quienes somos</a></li>
            <li><a href="">contacto</a></li>
        </ul>
    </nav>

</body>
</html>


