<div class="container mt-5">
  <br /><br />
  <h3> Conoce tu Staff</h3>


  <div class="card-deck">
    <div class="card" *ngFor='let mesero of readData'>
      <img class="card-img-top" src="../../assets/staff/meseros/{{mesero.mesero_id}}.jpg" alt="Card image cap"  style="width: 50%; height: 40%">
      <div class="card-body">
        <h5 class="card-title">{{mesero.mesero_nombre}} {{mesero.apaterno}} {{mesero.amaterno}}</h5>
        <p class="card-text"><small class="text-muted">Mesero</small></p>
        <p class="card-text">{{mesero.descripcion}}</p>
        <p class="card-text"><small class="text-muted">Contacto: <br/> Telefono: +{{mesero.telefono}} <br/> email: {{mesero.email}}</small></p>
      </div>
    </div>

</div>