@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
section {
    margin-top: 7rem;
    margin-bottom: 5rem;
    padding: 2rem 9%;
  }
  .home {
    padding-bottom:5rem;
  }
  .home .home-slider .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
  }
  
  .home .home-slider .slide .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45rem;
            flex: 1 1 45rem;
  }
  
  .home .home-slider .slide .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45rem;
            flex: 1 1 45rem;
  }
  
  .home .home-slider .slide .image img {
    width: 100%;
  }
  
  .home .home-slider .slide .content span {
    font-family: 'Quicksand', sans-serif;
    color: #f81513;
    font-size: 2rem;
    text-transform: none;
  }
  
  .home .home-slider .slide .content h3 {
    color: #b7b047;
    font-size: 7rem;
  }
  .title {
    padding-top: 5rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
  h5 {
    font-size: 30px;
  }
  
  p {
    font-size: 20px;
  }